<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div id="datePicker">
   <input id = "dateInput" type="date" min="{{getDatePickerString()}}" required [(ngModel)]="displayDate" (ngModelChange)="onDisplayDateChange()">
</div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [styles]="styles">
   <!-- Add control component to select a date -->
   <!-- Add animation to marker when it drops -->
   <agm-marker *ngFor="let event of events"
      [latitude]="event.place.location.latitude"
      [longitude]="event.place.location.longitude">
      <!-- Want to implement Angular Google Maps Snazzy Info Window -->
      <agm-info-window>
         <app-event [event]="event"></app-event>
      </agm-info-window>
   </agm-marker>
</agm-map>
