<!-- Want to add buttons to RSVP for the event -->
<div *ngIf="event && event.name">
   <h2>{{event.name}}</h2>
   <div *ngIf="event.start_time">{{getDateString()}}</div>
   <div *ngIf="event.place.name || event.place.location.street">
      <br/>
      <div *ngIf="event.place.name">{{event.place.name}}</div>
      <div *ngIf="event.place.location.street && event.place.location.city">{{event.place.location.street}}, {{event.place.location.city}} {{event.place.location.state}} {{event.place.location.zip}}</div>
      <div *ngIf="event.place.location.street && !event.place.location.city">{{event.place.location.street}}</div>
      <div *ngIf="!event.place.location.street && event.place.location.city">{{event.place.location.city}} {{event.place.location.state}} {{event.place.location.zip}}</div>
      <br/>
   </div>

   <div class="btn-group" data-toggle="buttons">
      <label *ngIf="going" class="btn btn-default active form-check-label">
         <input class="form-check-input" type="radio" checked autocomplete="off">Going
      </label>

      <label *ngIf="!going" class="btn btn-default form-check-label">
         <input class="form-check-input" type="radio" autocomplete="off">Going
      </label>

      <label *ngIf="!going && interested" class="btn btn-default active form-check-label">
         <input class="form-check-input" type="radio" checked autocomplete="off">Interested
      </label>

      <label *ngIf="going || !interested" class="btn btn-default form-check-label">
         <input class="form-check-input" type="radio" autocomplete="off">Interested
      </label>
   </div>

   <div *ngIf="event.description">
      <br/>
      <div>{{event.description}}</div>
   </div>
</div>
